@model LoginVM
@{
    ViewBag.Title = "Login";
}
<form method="post"
      asp-route="@Names.Routes.Login">
    <input asp-for="ReturnUrl">
    <dl>
        <dt><label asp-for="Username"></label></dt>
        <dd><input asp-for="Username"></dd>
        <dt><label asp-for="Password"></label></dt>
        <dd><input asp-for="Password"></dd>
    </dl>

    <button type="submit">Login</button>

</form>