@{
    string title = $"{ViewBag.Title} - Osric.Uk";
}
<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>@title</title>
    <link rel="stylesheet"
          href="~/site.css"
          asp-append-version="true">
    @RenderSection("Head", required: false)
</head>

<body>
    <header>
        <nav>
            <span id="clock">@DateTimeOffset.Now.ToString("HH:mm") </span>
            <a asp-route="@Names.Routes.TopIndex">Home</a>
            @if (User.IsInRole(Names.Roles.User)) {
                <a asp-route="@Names.Routes.Terminal">Terminal</a>
                <form method="POST" asp-route="@Names.Routes.Logout">
                    <button type="submit">Logout</button>
                </form>
            } else {
                <a href="/login">Login</a>
            }
        </nav>
    </header>
    <main>
        <h1>@title</h1>
        @if (TempData.HasMessages())
        {
            <div class="messages">
                @foreach (string msg in TempData.GetMessages())
                {
                    <div class="message">@msg</div>
                }
            </div>
        }

        @RenderBody()
    </main>
    <footer>
        <p>Hand crafted with love by Osric Wilkinson</p>
    </footer>
<!--
    <script type="module"
            src="~/clock.js"
            asp-append-version="true"></script>
 -->
    @RenderSection("Scripts", required: false)
</body>

</html>
