@model LoginVM
@{
    ViewBag.Title = "Login";
}

<form asp-route="@Routes.Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" >
    <div asp-validation-summary="ModelOnly"></div>

    <dl>
        <dt><label asp-for="Username"></label></dt>
        <dd>
            <input type="text" asp-for="Username">
            <span asp-validation-for="Username"></span>
        </dd>

        <dt><label asp-for="Password"></label></dt>
        <dd>
            <input type="password" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </dd>

        <dt><button type="submit">Login</button></dt>
    </dl>
</form>
