@model IndexVM
@{
    ViewBag.Title = "Hello";
}

<p>I'm a human, from Earth. I write code and think about stuff. Sometimes I even write the stuff down.</p>

<h2>Topics of Interest</h2>
<ul>
    <li>Time (it's measurement, display, and meaning)</li>
    <li>Weather</li>
    <li>Programming</li>
    <li>Home automation</li>
    <li>My husband's cat</li>
    <li>My husband</li>
    <li>Physics</li>
    <li>What's going on in the world</li>
    <li>What other people are interested in</li>
</ul>
