:root {
    --color-shadow: #003b36ff;
    --color-background: #48233cff;
    --color-text: #eae0d5ff;
    --color-border: #757780ff;
    --color-slate-gray: #738290ff;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: var( --color-background);
    color: var( --color-text);
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 20px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: var(--color-text);
}

a:link, a:visited {
    color: var(--color-text);
    font-variant: small-caps;
}

a:focus, a:hover, a:active {
    color: var(--color-text);
    border-bottom: 1px solid var(--color-border);
    background: var(--color-shadow);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

h1 {
    margin: 0;
}

body {
    height: 100vh;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'content' 'footer';
}

body>header {
    grid-area: header;
    font-size: 90%;
}
body>header>nav {
    display: flex;
    flex-flow: row nowrap;
}

body>header>nav>* + * {
    margin-left: 1em;
}

body>main {
    grid-area: content;
}

body>footer {
    grid-area: footer;
    font-size: 75%;
}
