
#terminal {
    --height: 25;
    --size: 16px;
    --width: 80;
    display: block;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: var(--size);
    background-color: var(--color-slate-gray);
    padding: 1em;
    border-radius: 1.2em;
    margin-top: 1em;
    white-space: pre;
}

.cursor {
    width: 1px;
    border-left: 1px solid var(--color-text);
}