@{
    ViewBag.Title = "Terminal";
}

<output id="terminal"></output>

@section Head {
<link rel="stylesheet"
      href="~/terminal.css"
      asp-append-version="true">
}
@section Scripts {
<script type="module"
        src="~/terminal.js"
        asp-append-version="true"></script>
}